<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Featured 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8 bg-light">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
				<h2 class="display-5 mb-4 mb-md-5 text-center">CREDENCE CAREER</h2>
				<hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
			</div>
		</div>
		<!--Quates Line Stars-->
		<div class="row">
			<h1> Transform your beginnings into remarkable professional successes!</h1>
			<div class="col-md-9">
				<h4>    
					Do you have a strong belief that technology will change the way we live in the future?
				</h4>
				<p>
					Our mission atc Credence is to develop careers, rather than just provide jobs.
				</p>
				<p>
					To support our teammates in achieving digital greatness, we think it's important to establish a dynamic and collaborative work atmosphere.
				</p>
				<p>
					Discover an opportunity of employment where your ideas are valued, your career path is unrestricted, and your abilities are acknowledged.
				</p>
				Welcome to Credence, a place where your true potential and passion of technology meet.
			</div>
			<div class="col-md-3">
				<img class="img-fluid rounded-end object-fit-cover" loading="lazy" [src]="careerpath" alt="Entrepreneurship">
			</div>
		</div>
		<!--Quates Line Ends-->
	</div>
</section>
<div class="gradient-tabs">
	<ul class="nav nav-tabs" id="gradientTabs" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="home-tab3" data-bs-toggle="tab" data-bs-target="#home3" type="button" role="tab">
				Part Time/ Internship Jobs
			</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="profile-tab3" data-bs-toggle="tab" data-bs-target="#profile3" type="button" role="tab">
			Become Our Brand Owner
			</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="contact-tab3" data-bs-toggle="tab" data-bs-target="#contact3" type="button" role="tab">
			Become Our representative.
			</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="contact-tab4" data-bs-toggle="tab" data-bs-target="#contact4" type="button" role="tab">
				Current Job
			</button>
		</li>
	</ul>
	<div class="tab-content" id="gradientTabsContent">
		<!-- Current Job Stars--->
		<div class="tab-pane fade show active" id="home3" role="tabpanel">


			<h1>
				PART TIME/ INTERNSHIP JOBS
			</h1>
			<h5>Offering an internship program to help you level up your skills in content creation, social media, marketing, and more!</h5>
			<p>Find the best part time internships in your preferred field and location</p>
			<h6 class="text-center text-primary">WORK PART TIME AND EARN AN EXCITING STIPEND.</h6>
			<div class="row">
				<div class="col-md-5">
					<h5>AVAILABLE FIELDS:</h5>
					<ul>
						<li>Sales And Marketing</li>
						<li> Content Creation And Writing</li>
						<li>Digital Marketing
						</li>
						<li>Client Handling</li>
						<li>Online Data Entry (Work From Home)</li>
						<li> Graphic Designer ,</li>
						<li> Video Craetor,</li>
						<li> Ads Creator</li>
						<li>Web Designer</li>
						<li>
							Telle Support
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<img class="img-fluid rounded-end object-fit-cover"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="earningpath" alt="Entrepreneurship">
					<h4>WHAT YOU GET .</h4>
					<ul>
						<li>
							Valuable Completion Certificate For Your Resume
						</li>
						<li>Hands-on Experience With Industry Pros</li>
						<li>Earn Upto 20000-30000/per Month</li>
						<li>From Time To Time, Extra Rewards, Presents, And Trip Packages.</li>
					</ul>
				</div>
				<div class="col-md-3">
					<img class="img-fluid rounded-end object-fit-cover"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="supportpath" alt="Entrepreneurship">
					<h4>OUR SUPPORT</h4>
					<ul>
						<li>All Training Will Be Provided
						</li>
						<li>Must Have Laptop Or Smartphone With Internet</li>
					</ul>
				</div>
				<hr>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-2"><img class="img-fluid rounded-end object-fit-cover"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="qualipath" alt="Entrepreneurship"></div>
						<div class="col-md-10">
							<h4>QUALIFICATIONS</h4>
							<ul>
								<li>ABILITY TO MULTITASK AND WORK WELL UNDER DEADLINES.</li>
								<li>FAMILIARITY WITH SOCIAL MEDIA PLATFORMS AND TOOLS (E.G. FACEBOOK, INSTAGRAM, TWITTER,)</li>
								<li>MID KNOWLEDGE ON EXCEL, BASIC KNOWLEDGE ON PHOTOSHOP/ILLUSTRATOR MUST NEEDED</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<img class="img-fluid rounded-end object-fit-cover"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="reqpath" alt="Entrepreneurship">
					<h4>REQUIREMENT</h4>
					<ul>
						<li>MUST HAVE LAPTOP OR SMARTPHONE WITH INTERNET.</li>
					</ul>
				</div>
				<div class="col-md-12 float-right">
					<h4>YOUR EARNING</h4>
					<ul>
						<li>PRICE IS BASED ON THE PRODUCTS AND SERVICES</li>
						<li>ASK FOR INCOME SCHEDULE: 9804041115
							9007722285, 8293554750
						</li>
					</ul>
				</div>
			</div>
</div>
		<!-- Current Job Ends--->            
		<!-- Become Our Brand Owner Stars--->
		<div class="tab-pane fade" id="profile3" role="tabpanel">
			<h1 class="text-center">
				Become Our Brand Owner<label class="float-end text-danger fs-6">We work on FOCO Model - Franchise Owned Franchise Operated.</label>
			</h1>
			<div class="row">
				<div class="col-lg-4">
					<h4 class="text-uppercase">overview</h4>
					<h6>We work on FOCO Model - Franchise Owned Franchise Operated.</h6>
					<ol>
						<li>No operational involvement of the Franchise partner</li>
						<li>Zero risk on investment -Buy back facility is available</li>
						<li>Zero risk on stocks</li>
						<li>High margin products</li>
					</ol>
				</div>
				<div class="col-lg-4">
					<h4><img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="reqpath" alt="Entrepreneurship"> REQUIREMENT </h4>
					<ul>
						<li>MINIMUM 100 SQFT OFFICE SPACE AT PRIME LOCATION</li>
						<li>A COMPUTER/LAPTOP AND A PRINTER</li>
						<li>INTERNET CONNECTION</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<h4><img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="workpath" alt="Entrepreneurship"> WHAT YOU'LL DO?   </h4>
					<ul>
						<li>Business Expansion</li>
						<li>Maintaining Brand Standardization</li>
						<li>Training and Support</li>
						<li>Building Trust with Customers:</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<h4>
						<img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="supportpath" alt="Entrepreneurship"> OUR SUPPORT
					</h4>
					<ul>
						<li>Marketing and Advertising Support</li>
						<li>Operational Support</li>
						<li>Technology and Systems</li>
						<li>Quality Assurance</li>
						<li> Dedicated Support Team</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="earningpath" alt="Entrepreneurship">
					<h4>INVESTMENT</h4>
					<h5>RS. 10,000 (SECURITY DEPOSIT) REFUNDABLE</h5>
				</div>
				<div class="col-lg-4">
					<img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="reliabitypath" alt="Entrepreneurship">
					<h4>WHAT ARE WE GOING TO GIVE?</h4>
					<h6>100 VISITING CARD, PRODUCTS SAMPLE, BROUCHER, GLOW SIGN BOARD, MARKETING MATERIALS & SOFTWARE</h6>
				</div>
			</div>
						<div class="col-md-12 col-lg-12">
				<h4>  <img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="sharingpath" alt="Entrepreneurship"> PROFIT SHARING: 50% of profit (excluding the cost of the product and its expenditures) <label class="fs-6 text-danger">We will provide a rate chart of cards, software and other materials above rate chart company will take 50% and your earning is 50% of income.</label></h4>
				<p>	ASK FOR RATE CHART: 9804041115 9007722285, 8293554750</p>
			</div>
			
		</div>
		<!--Become Our Brand Owner Ends-->
		<!--Become Our Representative Stars-->
		<div class="tab-pane fade" id="contact3" role="tabpanel">
			<h4>
				Become Our Representative
			</h4>
			We are always looking for new agents that will fit right into our existing network and support our expansion plan. Create a second source of income that requires no initial investment of money to open the door to increased revenues. We accompany you at all times. Our support staff is available to answer inquiries and address problems at all times, from the first training to help following it. 
			<div class="row">
				<div class="col-lg-4">
					<img class="img-fluid "   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="reqpath" alt="Entrepreneurship"> 
					<h4>REQUIREMENT</h4>
					<ul>
						<li> Smart phone</li>
						<li>Two wheeler</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<h4><img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="workpath" alt="Entrepreneurship"> WHAT YOU'LL DO?   </h4>
					<ul>
						<li>You will generate new business and maximize the profit by completing the tasks and delivering them on schedule. You have to also collect the payment and give them proper training.</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<h4>
						<img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="supportpath" alt="Entrepreneurship"> OUR SUPPORT
					</h4>
					<ul>
						<li>Provide lead form your territory which comes from other sources. Take care of design and delivery on time. The ongoing business in your territory will also assign to you. We'll ensure you got proper training.</li>
					</ul>
				</div>
				<div class="col-lg-4">
					<img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="earningpath" alt="Entrepreneurship">
					<h4>INVESTMENT</h4>
					<h5>RRS. 250 NON REFUNDABLE</h5>
				</div>
				<div class="col-lg-8">
					<img class="img-fluid"   loading="lazy" [ngStyle]="{'width':iconwidth,'height':iconheight}"  [src]="reliabitypath" alt="Entrepreneurship">
					<h4>WHAT ARE WE GOING TO GIVE?</h4>
					100 VISITING CARD, PRODUCTS SAMPLE, BROUCHER, GLOW SIGN BOARD, MARKETING MATERIALS. SOFTWARE, TRAINING FOR BUSINESS
					YOUR EARNING
					<p>WE GUARANTEE THAT YOU CAN MAKE BETWEEN RS 25000 TO RS. 50000 A MONTH IF YOU WORK WELL.</p>
					<h4>ASK FOR INCOME SCHEDULE: 9804041115 9007722285, 8293554750
					</h4>
				</div>
			</div>
		</div>
		<!--Become Our Representative Ends-->
		<!--PART TIME/ INTERNSHIP JOBS Stars-->
		<div class="tab-pane fade" id="contact4" role="tabpanel">

			<div class="container-fluid bg-info">
				<div class="row">
				 <div class="col-lg-3 divBoarder">
					   <p class="float-start">Full Time</p>
					 <p class="float-end ">Kolkata</p>
				  <br>
						<h4 class="text-center">Sales And Marketing</h4>
						   <p class="text-center text-danger">"Thrive in Fast-Positive, Target-Driven Environment"</p>
					 <h6 class="text-center bg-success text-light ">Salary: <i class="fa fa-rupee" style="font-size:14px"></i> 10,000 to 40,000  + Incentives</h6>
					 <p>
					  To market our various types of customized software application both offline and cloud platform. Apply only for experience for marketting and knowledge of computer and also have two wheeler.
					</p>
					<p><button type="button" class="btn-outline-primary float-end ">Apply Now</button></p>
				  </div>
				  <div class="col-lg-3 divBoarder">
					<p class="float-start">Full Time</p>
				  <p class="float-end ">Siwan</p>
			   <br>
					 <h4 class="text-center">Telecaller</h4>
						<p class="text-center text-danger">Salary Target & Incentive Based</p>
				  <h6 class="text-center bg-success text-light ">Salary: <i class="fa fa-rupee" style="font-size:14px"></i>  Up to ₹15,000.00 per month+ Incentives</h6>
				 <p>
					Initiate outbound calls to potential customers from provided leads or lists and educate them on key features and benefits and Identify potential sales opportunities.
				 </p>
				 <p><button type="button" class="btn-outline-primary float-end ">Apply Now</button></p>
			   </div>
			   <div class="col-lg-3 divBoarder">
				<p class="float-start">Full Time</p>
			  <p class="float-end ">Durgapur</p>
		   <br>
				 <h4 class="text-center"> Digital Marketing</h4>
					<p class="text-center text-danger">Salary Target & Incentive Based</p>
			  <h6 class="text-center bg-success text-light ">Salary: <i class="fa fa-rupee" style="font-size:14px"></i>  Up to ₹15,000.00 per month+ Incentives</h6>
			 <p>
				The Digital Marketing/Software Marketing Specialist will collaborate with the sales team to generate leads and close deals, developing and executing marketing strategies for the company's software products and services.
			 </p>
			 <p><button type="button" class="btn-outline-primary float-end ">Apply Now</button></p>
		   </div>
		   <div class="col-lg-3 divBoarder">
			<p class="float-start">Full Time</p>
		  <p class="float-end ">Durgapur</p>
		<br>
			 <h4 class="text-center">Software Developers</h4>
				<p class="text-center text-danger">Salary Target & Incentive Based</p>
		  <h6 class="text-center bg-success text-light ">Salary: <i class="fa fa-rupee" style="font-size:14px"></i>  Up to ₹15,000.00 per month+ Incentives</h6>
		 <p>
			A passionate programmer with high analytical, logical, and communication skills, inquisitiveness, quick understanding of new concepts, and interest in latest technological developments is sought.
		 </p>
		 <p><button type="button" class="btn-outline-primary float-end ">Apply Now</button></p>
		</div>
				
				</div>
		  
				
			  </div>







		</div>
		<!--PART TIME/ INTERNSHIP JOBS Ends-->
	</div>
</div>