<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid bg-info pt-2">
    <section class="bg-light p-3">
        <div class="row p-2">
            <div class="col-lg-12 text-center text-uppercase">
                <h1>portfolio/Personal website</h1>
               
               
               </div>
               <div class="col-lg-4 texx1 mt-2">
                <h4 class="text-capitalize p-3 text-danger">do you wants to demonstrate your skills, experience, and personal brand.</h4>

                <h6>A portfolio website is not just an online presence—it is a critical marketing and business development tool. It enables you to demonstrate your capabilities, attract clients, and build a credible reputation in the industry.</h6>
                <h4 class="p-2">You're at the Right Place for Your Portfolio Website Development!</h4>
                <p>At Credence IT Solution, we specialize in creating dynamic, user-friendly portfolio websites that showcase your work and skills in the best light. Whether you're a software company, a creative professional, or an entrepreneur, we understand the importance of a website that not only looks great but also delivers results.</p><p>A portfolio website serves as a digital marketing tool that promotes long-term growth in addition to bringing in new customers right away. Over time, it can boost the company's reputation, increase brand recognition, and produce quality inbound leads.
                </p>
            </div>
            <div class="col-lg-8">
                <img class="img img1"  [src]="Portfolio" />
            </div>
            <div class="col-lg-12 texx1 text-center p-2 text-capitalize text-danger">
                <h4>For your portfolio and personal website, we provide four types of web presence services.</h4>
            </div>
            <div class="col-lg-3 texx1">
                <h4 class="text-center text-success">Basic </h4>
                <h5 class="text-center"><i class="fa fa-rupee" style="font-size:20px;color:red"></i> 2 Per/ Day</h5>
                <ul>
                    <li><label class="text-danger">No Of Pages:</label> 5 Example ( about me, education, experience, photo galary, Contact form )</li>
                    
                    <li><label class="text-danger">Responsive Design:</label> Change to its accessible devices' screen and window sizes. </li>
                    <li><label class="text-danger">Basic SEO setup:</label>  improving (optimising) the visibility of a website/webpage on Search Engines</li>
                    <li><label class="text-danger">Changes on Pages:</label> The page details can be manually updated by the company. charges associated with changes. No dashboard, no database.</li>
                    <li><label class="text-danger">QR Scanner:</label> This QR code can be used for local advertising on your business cards, flyers, posters, and social media groups. After scanning, it will take users to your website.</li>
                    <li><label class="text-danger">Domain :  </label> Doamin Will be subdomain example ( wwww.credence/Your Name.com) </li>
                    <li><label class="text-danger">Hosting : </label> Provided By Us</li>
                    <li><label class="text-danger">Leads : </label> Leads On Your Whatsapp or Email </li>
                    
                </ul>
            </div>
            <div class="col-lg-3 texx1">
                <h4 class="text-center text-success">Standard </h4>
                <h5 class="text-center"><i class="fa fa-rupee" style="font-size:20px;color:red"></i> 5 Per/ Day</h5>
                <ul>
                    <li><label class="text-danger">No Of Pages:</label> 5 Example ( about me, education, experience, photo galary, Contact form )</li>
                    <li><label class="text-danger">Changes on Pages:</label> The dashboard is provided by us with a login ID and password. You can change your details any time after login. It's all connected to the database. </li>
                    
                    <li><label class="text-danger">Responsive Design:</label> Change to its accessible devices' screen and window sizes. </li>
                    <li><label class="text-danger">Basic SEO setup:</label>  improving (optimising) the visibility of a website/webpage on Search Engines</li>
                    <li><label class="text-danger">QR Scanner:</label> This QR code can be used for local advertising on your business cards, flyers, posters, and social media groups. After scanning, it will take users to your website.</li>
                    <li><label class="text-danger">Domain :  </label> Doamin Will be subdomain example ( wwww.credence/Your Name.com) </li>
                    <li><label class="text-danger">Hosting : </label> Provided By Us</li>
                    <li><label class="text-danger">Leads : </label> Leads On Your Whatsapp or Email </li>
                    
                </ul>
            </div>
            <div class="col-lg-3 texx1">
                <h4 class="text-center text-success">Advance </h4>
                <h5 class="text-center"><i class="fa fa-rupee" style="font-size:20px;color:red"></i> 500 Per/ Page</h5>
                <ul>
                    <li><label class="text-danger">No Of Pages:</label> 5 Example ( about me, education, experience, photo galary, Contact form )</li>
                    <li><label class="text-danger">Changes on Pages:</label> The dashboard is provided by us with a login ID and password. You can change your details any time after login. It's all connected to the database. </li>
                    
                    <li><label class="text-danger">Responsive Design:</label> Change to its accessible devices' screen and window sizes. </li>
                    <li><label class="text-danger">Basic SEO setup:</label>  improving (optimising) the visibility of a website/webpage on Search Engines</li>
                    <li><label class="text-danger">QR Scanner:</label> This QR code can be used for local advertising on your business cards, flyers, posters, and social media groups. After scanning, it will take users to your website.</li>
                    <li><label class="text-danger">Domain :  </label> Doamin Will be subdomain example ( wwww.credence/Your Name.com) </li>
                    <li><label class="text-danger">Hosting : </label> Provided By Us</li>
                    <li><label class="text-danger">Leads : </label> Leads On Your Whatsapp or Email </li>
                    
                </ul>
            </div>
            <div class="col-lg-3 texx1">
                <h4 class="text-center text-success">Premium </h4>
            </div>
               </div>
               </section>
               </div>



<div class="col-md-6 text-center">
    <h4><b>Static Personal Website Start from <i class="fa fa-inr" aria-hidden="true"></i> 2500 only </b></h4>
 <h5>Package including domain name & hosting with 5 static page( about me ,education , experience , photo galary ,contact form )</h5>
    <h4><b>Dynamic Personal Website Start from <i class="fa fa-inr" aria-hidden="true"></i> 4200 only</b></h4>
     <h6>Package including domain name & hosting with 5+ static page( about me ,education , experience , photo galary ,contact form ,bolg , admin pannel  & More with database )</h6>
</div>
<h4 class="text-justify"><b>According to research by Workfolio, 56% of people surveyed felt that websites were the best self-promotion tool currently available. Personal websites work better than LinkedIn profiles because they allow you to elaborate a bit more about you.You can even share your own tips and tricks about the industry you work in. People always want to know more insider tips and this can be an effective and useful way to share them.</b></h4>
