<!-- Testimonial 2 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row gy-5 gy-lg-0 align-items-center">
        <div class="col-12 col-lg-4">
          <h2 class="display-5 mb-3 mb-xl-4">Our Clients</h2>
          <p class="lead mb-4 mb-xl-5">We believe in client satisfaction. Here are some testimonials by our worthy clients.</p>
          <a href="#!" class="btn bsb-btn-2xl btn-primary rounded-pill">More Testimonials</a>
        </div>
        <div class="col-12 col-lg-8">
          <div class="row justify-content-xl-end">
            <div class="col-12 col-xl-11">
              <div class="row gy-4">
                <div class="col-12 col-md-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                      <figure>
                        <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy" src="./assets/img/testimonial-img-1.jpg" alt="Luna Joh">
                        <figcaption>
                          <blockquote class="bsb-blockquote-icon mb-4">We were so impressed with the work they did for us. They were able to take our vision and turn it into a reality, and they did it all on time and within budget. We would highly recommend them to anyone looking for a reliable and professional partner.</blockquote>
                          <h4 class="mb-2">Luna John</h4>
                          <h5 class="fs-6 text-secondary mb-0">UX Designer</h5>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                      <figure>
                        <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy" src="./assets/img/testimonial-img-2.jpg" alt="Mark Smith">
                        <figcaption>
                          <blockquote class="bsb-blockquote-icon mb-4">We were looking for a company that could help us develop a new website that was both visually appealing and user-friendly. We are so happy with the results, and we would highly recommend them to anyone looking for a new website.</blockquote>
                          <h4 class="mb-2">Mark Smith</h4>
                          <h5 class="fs-6 text-secondary mb-0">Marketing Specialist</h5>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                      <figure>
                        <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy" src="./assets/img/testimonial-img-3.jpg" alt="Michael Wilson">
                        <figcaption>
                          <blockquote class="bsb-blockquote-icon mb-4">We were struggling to manage our finances effectively. We needed help developing a financial plan. They create a financial plan that worked for us, and they showed us how to track our spending more effectively. We are so grateful for the help.</blockquote>
                          <h4 class="mb-2">Michael Wilson</h4>
                          <h5 class="fs-6 text-secondary mb-0">SEO Expert</h5>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="card border-0 border-bottom border-primary shadow-sm">
                    <div class="card-body p-4 p-xxl-5">
                      <figure>
                        <img class="img-fluid rounded rounded-circle mb-4 border border-5" loading="lazy" src="./assets/img/testimonial-img-4.jpg" alt="Luke Reeves">
                        <figcaption>
                          <blockquote class="bsb-blockquote-icon mb-4">We were looking for a company that could help us with our branding. We needed a website and marketing materials. They were able to create a brand identity that we loved. They worked with us to develop a logo that represented our company. </blockquote>
                          <h4 class="mb-2">Luke Reeves</h4>
                          <h5 class="fs-6 text-secondary mb-0">Sales Manager</h5>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>