<div class="container-fluid bg-info pt-2">
    <section class="bg-light p-3">
        <div class="row p-2">
            <div class="col-lg-12 text-center text-uppercase">
                <h2>Welcome to Credence IT Solution – Your Trusted App Development Partner</h2>
               </div>
               <div class="col-md-4 texx1 p-4">
                We at Credence IT Solution are experts at creating cutting-edge, powerful mobile apps that help companies reach new heights.Our team of skilled developers, designers, and strategists offers customized app development solutions which meet your unique needs and encourage success in the mobile-first world of today.  Whether you’re a startup or an established enterprise, we have the expertise to help you transform your ideas into powerful, user-friendly mobile apps. We offer a full range of app development services, delivering end-to-end solutions that cater to a variety of industries. Our solutions are designed to improve client experiences, boost income, and optimize business operations. We utilize of the latest frameworks and technologies to guarantee that your program runs as well as possible on all platforms and devices.
               </div>
               <div class="col-lg-4">  <img class="img imga"  [src]="app" /></div>
               <div class="col-md-4 texx1">
                <h4 class="text-success text-center">Technologies We Use</h4>
                <p>To create top-tier mobile apps, we rely on the latest development technologies and frameworks. Our expertise spans across a wide range of platforms, tools, and languages, ensuring we deliver high-quality, scalable solutions.</p>
                <ul>
                    <li> Programming Languages: Swift, Kotlin, Java, Objective-C, JavaScript (React Native, Flutter)</li>
                    <li>Backend Development: Node.js, Python, Ruby on Rails, Django, Firebase</li>
                    <li>Databases: MongoDB, MySQL, PostgreSQL, Firebase Realtime Database</li>
                    <li>
                        Cloud Solutions: Amazon Web Services (AWS), Microsoft Azure, Google Cloud</li>
                        <li>Security: Encryption protocols, secure authentication, and data protection practices to ensure user data is safeguarded
                            Our Process</li>
                </ul>
               </div>
               <div class="col-lg-9 m-auto">
                <img class="img imga"  [src]="app2" />
               </div>
               <div class="col-lg-8 m-auto">
                <img class="img imga"  [src]="why" />
               </div>
               </div>
               </section>
               </div>
               