<div class="container-fluid bg-info">
    <section class="p-2 ">
    <div class="row bg-light ">
        <div class="col-md-12">
            <h4 class="text-center p-2"><span class="text-danger"> TO WIN MORE CUSTOMERS </span> <span class="text-success">USE ADVANCED</span><span class="text-primary"> RELATIONSHIP MANAGEMENT SOFTWARE</span></h4>
            <h6 class="text-right">BOOST THE PRODUCTIVITY AND PERFORMANCE OF YOUR TEAM TO THE NEXT LEVEL.</h6>
<p class="p-2" style="font-size: 18px;font-style: italic;">Miscommunication, slow response times, and missed opportunities harming you business? Both pleased and unhappy customers share their experiences with the public. Bring in high-quality leads, take care of them, and convert them into happy, pleased customers.</p>

<h6><span class="text-danger float-start">Get a complete overview of all customer data—</span><span>all in single place.</span><span class="float-end text-success">Personal information, correspondence with them, and more—</span></h6>

<p>Instead of having your sales team waste their time doing administrative work, automate all your routine and mundane tasks with workflows and macros to help your team focus on winning clients and closing deals.</p>

<p>You can set an automated, personalised welcome SMS, WhatsApp message, or email. You can also set up a new lead alert for your sales team for quick response and perform lots of advanced automation quickly.</p>
        </div>
        <div class="col-lg-4 text-center border-black-2">   <h2> CLOUD BASE CRM SOFTWARE</h2>  <img class="img"  [src]="crms" />
           
    <h4 class="text-right">ACCESSIBLE AT ALL TIMES</h4>
    <h6>The service is accessible over the internet through a browser, allowing you to deploy the service without any software installation on your organization’s computers.</h6>
        </div>
        <div class="col-lg-8">
            <h1>Faster, Smarter and Simplified Contact Management Why Needed</h1>
            <h4>Lacking centralised control </h4>
<h6>When your customer information is spread over Excel sheets, business cards, and meeting notes, it’s challenging to make significant judgements. The process of gathering the data and making sense of it is time- and effort-consuming.</h6>
<h4>A lack of communication</h4>
<h6>A synergy is required between Marketing, who nurtures the lead, and Sales, who closes the deal. Because neither team has any idea of what the other is doing, this information flow breakdown usually affect the teams’ performance.</h6>
<h4>Time and money are spent on changeover.</h4>
<h6>When sales reps leave your company, they take with them the relationships they built with customers. Replacements need to be trained and educated on customer preferences, which will cost your business time and money.</h6>
        </div>
        <div class="col-lg-6 text-left p-3" >
            <h4 class="text-center">What is marketing software?</h4>
          <h6>In general, marketing software helps organizations perform the following functions:</h6>
          
          <ul><li>Attract new customers and visitors.</li>
          <li>Turn customers into leads that can be nurtured through the sales funnel.</li>
          <li>Deliver marketing and promotional materials (e.g., via email marketing, social media, etc).</li>
          <li>Surface insights about customers to improve marketing efforts.</li>
          <li>Automate time-consuming, repetitive manual tasks.</li></ul>
          
          </div>
        <div class="col-lg-3">
            <h4>All Leads in One Place.–.</h4>
                <h5>– Scalability & Security</h5>
            <img class="img p-2"  [src]="leads" />
           
        </div>
       
          <div class="col-lg-3">
            <h4>Benefits</h4>
          <ul><li>360-degree Customer View</li>
          <li>Allocate Leads and Simplify Lead Management</li>
          <li>Make Calls Using CRM</li>
          <li>Schedule Appointments and Tasks</li>
          <li>Easily Manage Sales Pipeline</li>
          <li>Create Quotation and Sales Order for Products or Services</li>
          <li>Centralized Document Management</li>
          <li>Forecast Analysis</li>
          <li>Receive Real-time Alerts</li></ul>
        </div>
    </div>
    

    
</section>
</div>
