
<div class="container-fluid bg-warning p-3">

  <!-- Why About Us start-->
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center"><b>
  <h4 class="text-uppercase">About Us</h4>

  <p class="text-capitalize">At Credence It Solution, we are a dynamic and innovative software development company offering a wide range of services to empower businesses and educational institutions. With a strong presence in multiple domains, our expertise spans School ERP solutions, custom software development, website design, digital Marketing and comprehensive printing services.</p></b>
  </div>
  <!-- Why About Us Ends-->

   <!-- About Us  our Journey Starts-->
<section class="bg-light">
  <div class="container-fluid p-3">
    <div class="row">
   
     
        <div class="col-12 col-lg-6">
          <div class="card border-dark">
            <h4 class=" text-center pt-2">Our Journey: Empowering Education and Innovation</h4>
              <div class="card-body   d-flex justify-content-center align-items-center">
              <div class="p-3">
                <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="journeypath" />
              </div>
              <div> 
                <p >Our story is one of transformation and impact, driven by a vision to simplify educational management and enhance identity solutions. From humble beginnings, we’ve grown into a trusted partner for schools, providing advanced ERP software and smart ID card printing services that cater to modern needs</p>
             
              </div>
            </div>
          </div>
        </div>
         <!-- About Us  our Journey Ends-->
          <!-- About Us Clear Mission starts-->
         <div class="col-12 col-lg-6">
          <div class="card border-dark">
            <h4 class="text-center pt-2">We started with a clear mission</h4>
            <div class="card-body  d-flex justify-content-center align-items-center">
              <div class="me-3 text-primary">
                <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="goalpath" />
              </div>
              <div>
                
                <p>To create solutions that address the unique challenges faced by educational institutions. With a deep understanding of the sector, we set out to design tools and services that would save time, reduce complexities, and empower schools to focus on their core mission—education. Our goal was to bridge the gap between cutting-edge technology and traditional printing, offering tailored solutions that cater to modern needs.
                </p>
              </div>
            </div>
          </div>
        </div>
          <!-- About Us Clear Mission starts-->
    </div>
  </div>
</section>
<!-- About Us  Section Ends-->
<!-- Why choose Us start-->
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
  <h4 class="text-uppercase">Why Choose Us?</h4>

  <p class="text-capitalize">Always render more and better service than <br />is expected of you, no matter what your ask may be.</p>
  </div>
  <!-- Why choose Us Ends-->
<!-- Why choose Us --->

<section class="bg-light">
  <div class="container-fluid p-3">
<div class="row" style="justify-content: center">
      <div class="card col-md-3 col-12">
          <div class="card-content">
              <div class="card-body"> <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="innovationpath" />
                  <div class="shadow"></div>
                  <div class="card-title">Innovation </div>
                  <div class="card-subtitle">
                      <p> <small> We stay ahead of the curve by integrating the latest technologies into all our services.
                      </small> </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-3 col-12 ml-2">
          <div class="card-content">
              <div class="card-body"> <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="customazationpath" />
                  <div class="card-title"> Customization</div>
                  <div class="card-subtitle">
                      <p> <small>  We understand that each client has unique needs, and we offer solutions tailored to your specific requirements. </small> </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-3 col-12 ml-2">
          <div class="card-content">
              <div class="card-body"> <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="highqualitypath" />
                  <div class="card-title"> Quality </div>
                  <div class="card-subtitle">
                      <p> <small>Whether it’s software development or printing, we deliver the highest quality results that exceed client expectations..</small> </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-3 col-12 ml-2">
        <div class="card-content">
            <div class="card-body"> <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="reliabitypath"/>
                <div class="card-title"> Reliability</div>
                <div class="card-subtitle">
                    <p> <small>Our team is committed to providing reliable, timely, and efficient solutions that help businesses and institutions thrive.
                    .</small> </p>
                </div>
            </div>
        </div>
    </div>
  </div>
 
</div>
</section>
<!-- Growing Together start-->
<div class='container-fluid mx-auto mt-5 mb-5 col-12' style="text-align: center">
  <h4 class="text-uppercase"> Growing Together</h4>

  <p class="text-capitalize">Through dedication and innovation, we’ve become a trusted name in the education sector. 
    What sets us apart is our dedication to building lasting relationships with our clients. We believe in collaboration, listening to feedback, and continuously improving our services. This approach has helped us expand our reach while maintaining the personalized touch that defines us.
  </p>
  </div>
  <!-- Growing Together  Ends-->

<!--  Highlights of our journey  Strats -->
<section class="bg-light py-3 py-md-5 py-xl-8 p-2">
  <div class="container-fluid-p-2">
    <div class="row">
      <div class=" col-lg-9 p-2">
        <h4 class="fw-bold mb-3">
         </h4>
        <p> </p>
          <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center text1"><h6 >
            Highlights of our journey include:</h6></div>
            <div class="card col-md-4">
              <div class="card-content">
                  <div class="card-body"> 
                      <div class="card-title"> Partnering with numerous schools to transform their administrative processes.</div>
                      
                  </div>
              </div>
          </div>
          <div class="card col-md-4 ">
            <div class="card-content">
                <div class="card-body"> 
                    <div class="card-title"> Delivering thousands of smart ID cards that enhance security and convenience.</div>
                   
                </div>
            </div>
        </div>
        <div class="card col-md-4 ">
          <div class="card-content">
              <div class="card-body">
                  <div class="card-title"> Continuously evolving our offerings to incorporate feedback and the latest advancements in technology.</div>
                 
              </div>
          </div>
      </div>
        </div>
        </div>
      </div>
      <div class=" col-lg-3 text-center">
        <img class="img-fluid" loading="lazy" [src]="growingpath"/>
      </div>
     
    </div>



    
  </div>
</section>
<!--  Highlights of our journey  Ends -->
</div>