
.navbar{
  
      font-weight: bold; /* Bold font weight */
      font-size: 1rem; /* Large size */
     

}


.text1{
  font-weight: bold; /* Bold font weight */
  color: rgb(241, 6, 96);
}


.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
 
  background-color: rgb(222, 253, 111);
}
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover .dropdown-toggle::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}


@media screen and (max-width: 991px) {
.dropdown-toggle.show::after {
  border-top: 0;
  border-bottom: 0.3em solid;
}
}