
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid bg-black">
      <a class="navbar-brand" routerLink=""> <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="logo" /></a>
      <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
         
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" routerLink="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text1" routerLink="About-Us">About Us</a></li>
              <li><a class="dropdown-item text1" routerLink="Our_Team" >Our Team</a></li>
              <li><a class="dropdown-item text1" routerLink="OurNetwork">Our Network</a></li>
              <li><a class="dropdown-item text1" routerLink="Career">Creer</a></li>
              <li><a class="dropdown-item text1" routerLink="Video">Videos & Webinars</a></li>
              <li><a class="dropdown-item text1" routerLink="News">News & Events</a></li>
              <li><a class="dropdown-item text1" routerLink="Brouchers">Brouchers</a></li>
              <li><a class="dropdown-item text1" routerLink="OurCustomer" >Our Customer</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Contact Us</a></li>
              <li><a class="dropdown-item text1" routerLink="Policy">Policy</a></li>
              <li><a class="dropdown-item text1" routerLink="Sitemap">Sitemap</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              IT Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text1" routerLink="ContactUs">Business Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">eCommerce Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Blog Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Portfolio Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Membership Website
              </a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Personal Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">News Websites</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Educational Websites</a></li> 
              <li><a class="dropdown-item text1" routerLink="ContactUs">Brochure Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Social Media Websites</a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Software Development
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text1" routerLink="Erp">School Erp</a></li>
              <li><a class="dropdown-item text1" routerLink="crms">Marketing Software</a></li>
              <li><a class="dropdown-item text1" routerLink="Customized Software">Customized Software</a></li>
              <li><a class="dropdown-item text1" routerLink="AppDevelopment">App Development</a></li>
              <li><a class="dropdown-item text1" routerLink="Portfolio">Portfolio Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Membership Website
              </a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Personal Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">News Websites</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Educational Websites</a></li> 
              <li><a class="dropdown-item text1" routerLink="ContactUs">Brochure Website</a></li>
              <li><a class="dropdown-item text1" routerLink="ContactUs">Social Media Websites</a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Id Cards
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="ContactUs">Web Development</a></li>
              <li><a class="dropdown-item" >Graphic Design</a></li>
              <li><a class="dropdown-item" >SEO Services</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="ContactUs">Web Development</a></li>
              <li><a class="dropdown-item" >Graphic Design</a></li>
              <li><a class="dropdown-item" >SEO Services</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="ContactUs">Web Development</a></li>
              <li><a class="dropdown-item" >Graphic Design</a></li>
              <li><a class="dropdown-item" >SEO Services</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>