<div class="container-fluid bg-info">
    <div class="row bg-light p-2">
        <div class="col-lg-4 p-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Q7f-tjdhR2E?si=72AaogX_OLvl0nU-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4 p-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DROtlV_O6KQ?si=lX4ETa-weaQ-FVxm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4 p-2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NxN-yA9Zz2s?si=w--TSzCwagOlZtz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>