<div class="container">
    <h2 class="text-center">News And Event Program</h2>

<div class="gradient-tabs">
    <ul class="nav nav-tabs" id="gradientTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab3" data-bs-toggle="tab" data-bs-target="#home3" type="button" role="tab">
                        News
                    </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab3" data-bs-toggle="tab" data-bs-target="#profile3" type="button" role="tab">
                       Event Images
                    </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab3" data-bs-toggle="tab" data-bs-target="#contact3" type="button" role="tab">
                        Event Video
                    </button>
        </li>
    </ul>
    <div class="tab-content" id="gradientTabsContent">
        <div class="tab-pane fade show active" id="home3" role="tabpanel">
          
            <div class="container rounded bg-white ">
              
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">News</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-blue">
                                <td class="pt-2"> 
                                    <div class="pl-lg-6 pl-md-6 pl-1 name">Pooja Holidays: In celebration of Mahanavami, there will be a schedule change for classes on October 11th, 2024. Please note the following:Morning Batch</div>
                                </td>

                                <td class="pt-3 mt-1">25 Sep 2020</td>
                                <td class="pt-3">11:00 AM</td>
                                
                            </tr>
                            <tr id="spacing-row">
                                <td></td>
                            </tr>
                            <tr class="bg-blue">
                                <td class="pt-2"> 
                                    <div class="pl-lg-5 pl-md-3 pl-1 name">There will be completed a small project using new features from angular 18, 19. / https://us06web.zoom.us/j/82687929047?pwd=kGAKgUhOMqEHWJFK7EgvZO39yuXkxB.1   Meeting ID:  826 8792 9047
                                        Passcode: 112233</div>
                                </td>
                                <td class="pt-3">20 Dec 2024</td>
                                <td class="pt-3">8:30 PM</td>
                              
                            </tr>
                            <tr id="spacing-row">
                                <td></td>
                            </tr>
                            <tr class="bg-blue">
                                <td class="pt-2"> 
                                    <div class="pl-lg-5 pl-md-3 pl-1 name">Software Training Program on “Application of Building Information Modelling Software</div>
                                </td>
                                <td class="pt-3">24 June 2024</td>
                                <td class="pt-3">02:00 PM</td>
                               
                            </tr>
                            <tr id="spacing-row">
                                <td></td>
                            </tr>
                            <tr class="bg-blue">
                                <td class="pt-2"> 
                                    <div class="pl-lg-5 pl-md-3 pl-1 name">School Erp Traing programs for teacher on zoom </div>
                                </td>
                                <td class="pt-3">22 Sep 2024</td>
                                <td class="pt-3">04:00 PM</td>
                              
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile3" role="tabpanel">
            <h4>Events Images</h4>
           
    <div class="row">
	    <div class="col-md-6 col-lg-4">
	        <div class="item"><img [src]="Credence1"  class="img-thumbnail"></div>
	    </div>
	    <div class="col-sm-4">
		    <div class="item"><img [src]="Credence2"  class="img-thumbnail"></div>
	    </div>
	    <div class="col-sm-4">
		    <div class="item"><img [src]="Credence3"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence4"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence5"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence6"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence7"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence8"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence9"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence10"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence11"  class="img-thumbnail"></div>
        </div>
        <div class="col-sm-4">
		    <div class="item"><img [src]="Credence12"  class="img-thumbnail"></div>
        </div>
       </div>
        </div>
        <div class="tab-pane fade" id="contact3" role="tabpanel">
            <h4>Events Video</h4>
            <p>This is the contact tab content with gradient style.</p>
        </div>
    </div>
</div>

</div>


