<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<div class="container-fluid bg-info p-3"><!-- Team 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8 bg-light">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <h2 class=" text-uppercase text-center">Our Team</h2>
          <p>Our team is the backbone of our business. Together, we are committed to delivering exceptional results that help schools, businesses, and individuals thrive in a technology-driven world. We are proud of the work we do and the impact we have on our clients' success. We believe that our success is driven by the talent, creativity, and dedication of our team. Our diverse group of experts is passionate about delivering high-quality solutions across a wide range of services, from School ERP systems and software development to website design and professional printing services.
        </p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-lg-0">
        <div class="col-12 col-lg-4">
          <div class="card border-0">
            <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale bsb-hover-scale-up" [ngStyle]="{'width':teamwidth,'height':teamheight}" loading="lazy" [src]="sksinghpath"  alt="Flora Nyra">
              </a>
             
            </figure>
            <div class="card-body border bg-white p-4">
              <h2 class="card-title h4 fw-bold mb-3">S.K Singh</h2>
              <p class="card-text text-secondary"><b>Managing Director</b> (Business & Marketing)</p>
              

            </div>
            <div class="social-icons">
              <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
              <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
          </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card border-0">
            <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale bsb-hover-scale-up" [ngStyle]="{'width':teamwidth,'height':teamheight}"  loading="lazy" [src]="ravipath" alt="James Levi">
              </a>
             
            </figure>
            <div class="card-body border bg-white p-4">
              <h2 class="card-title h4 fw-bold mb-3">Ravi Kant</h2>
              <p class="card-text text-secondary"><b>Managing Director</b> (Development & Traning)</p>
              
              <div class="social-icons">
                <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
            </div>
            </div>
           
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="card border-0">
            <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale bsb-hover-scale-up"  [ngStyle]="{'width':teamwidth,'height':teamheight}" loading="lazy" [src]="rahulpath" alt="Taytum Elia">
              </a>
             
            </figure>
            <div class="card-body border bg-white p-4">
              <h2 class="card-title h4 fw-bold mb-3">Rahul Dhar</h2>
              <p class="card-text text-secondary"><b>Managing Director</b> (Support & Service.)</p>
             
            </div>
            <div class="social-icons">
              <a href="#" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
              <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
              <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>