<div class="container-fluid">
    <h2 class="text-center">News And Event Program</h2>

<div class="gradient-tabs">
    <ul class="nav nav-tabs" id="gradientTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab3" data-bs-toggle="tab" data-bs-target="#home3" type="button" role="tab">
                Home
                       
                    </button>

        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab3" data-bs-toggle="tab" data-bs-target="#profile3" type="button" role="tab">
                       Event Images
                    </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab3" data-bs-toggle="tab" data-bs-target="#contact3" type="button" role="tab">
                        Event Video
                    </button>
        </li>
    </ul>
    <div class="tab-content" id="gradientTabsContent">
        <div class="tab-pane fade show active" id="home3" role="tabpanel">
        <ul>
     
        <li>Our Success Story with proven Records</li>
        <li>School Mangement Software & App</li>
    </ul>
            
        </div>
        <div class="tab-pane fade" id="profile3" role="tabpanel">
            <h4>Events Images</h4>
    
       </div>
       
        <div class="tab-pane fade" id="contact3" role="tabpanel">
            <h4>Events Video</h4>
            <p>This is the contact tab content with gradient style.</p>
        </div>
    </div>
</div>

</div>
