
<div class="container-fluid">

    <!-- Why About Us start-->
  <div class="container">
    <h1 class="styled-heading">School Management Software</h1>
  <b>
    <p class="text-center ">Our School and College Management Software is an innovative cloud-based, Al-powered ERP system that is revolutionizing educational administration. Our software offers various features such as Admission, Billing , Library, Human Resources, LMS, Inventory, and more.We have been working nonstop for the past five years to develop the best school and college ERP software that tackles every aspect of schools and colleges. We are therefore pleased to introduce this application to your arena. This ERP makes it possible for staff members who are affiliated with the institutions to manage their own individual accounts.</p></b>
    </div>
    <!-- Why About Us Ends-->
  
     <!-- About Us  our Journey Starts-->
  <section class="bg-light">
    <div class="container-fluid p-3">
      <div class="row">
     
       
          <div class="col-12 col-lg-6 card p-2">
            <h4 class="p-2">Our Software helps students, parents, admin, teachers and supporting staff to stay updated with events across all departments within the institutions. Inbuilt features of this are News and Events listing, Event photos upload, uploading of invitations, Event Details and Event alert/ News alert by SMS or Voice Call.</h4> 
            <img class="img "  [src]="erp" />
           
           
            </div>
           <!-- About Us  our Journey Ends-->
            <!-- About Us Clear Mission starts-->
           <div class="col-12 col-lg-6 card p-2">
            <div class="row">
              <div class="col-lg-12">
                
              <h5 class=" text-center pt-2">School ERP Software Provides The Following Advantage.</h5>
               
              <ul>
                  <li class="p-1">Cost And Energy Saving</li>
                  <li class="p-1">Empower teachers through the E-learning platform</li>
                  <li class="p-1">Keep parents and students in the connectivity loop at all times, through SMS, Email and ERP Apps</li>
                  <li class="p-1">Go paperless, generate e- reports on a click of a button</li>
                  <li class="p-1">Reduce monotonous task of your administrative department. The ERP will do the work for your school!</li>
                  <li class="p-1">Facilitate anytime, anywhere access.</li>
                </ul>
              </div>
             
              <div class="col-lg-12">
                <span class="float-start"><img class="img imgh p-2"  [src]="management" /></span> <span class="float-end"><b>Management  :</b> The basis on the latest & accurate data, management can take a better decision.</span> 
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="reqpath" />
               </div>
              <div class="col-lg-10">
                <b> Accountant :</b>    Collection from cash counter / Bank / Online, Daily Report, Income, Expenditure, Bank Statement Balance Sheet
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="teacherpath" />
               </div>
              <div class="col-lg-10">
                <b> Teacher : </b>    Lesson Plan, Class Log Book, Personal Log Book Study Materials, Question Bank , Marks Upload , Audio & Video Class.
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="studentpath" />
               </div>
              <div class="col-lg-10">
                <b> Student : </b> Live Classes, Study Materials, Home Works Downloads , Self Assessment , Result
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="parrentpath" />
               </div>
              <div class="col-lg-10">
                <b> Parents:  </b>  Online Payment, Payments History , Notice , Profile Update, Reports Card , Children Attendance.
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="attenpath" />
               </div>
              <div class="col-lg-10 p-2">
                <b>Attendance  :</b>Biomatric Attendance System, UHF REID gate , attendance of students through teacher’s account.
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="workpath" />
               </div>
              <div class="col-lg-10 p-2">
                <b>Admission  :</b> don’t need a form or brochure. This system offers hassle-free, paperless online admission that adheres to all protocols.
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="fee" />
               </div>
              <div class="col-lg-10 p-2">
                <b>Fee Collection:  :</b>  There will be no lengthy line, parents will not waste time, and the cashier will not really bother. Reports on all fee collections will be generated automatically..
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="reports" />
               </div>
              <div class="col-lg-10 p-2">
                <b>Reports Generation :</b>   More than 100 types of reports are generated through this ERP. If required, we can generate more. This helps to keep track, reduce costs and eliminate administrative hassle.
              </div>

              <div class="col-lg-2">
                <img class="img imgh"  [src]="reliability" />
               </div>
              <div class="col-lg-10 p-2">
                <b> Result Generation:</b>   Teachers will upload the marks, the reports card will be generate automatically. You can publish it on website with your schedule time and also can be print, download with predesigned template.
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="hr" />
               </div>
              <div class="col-lg-10 p-2">
                <b>  HR and Payroll: </b>  Manage employee data, track leaves & attendance, recruitment, on boarding, payroll, performance management, training and development, and more.
              </div>
              <div class="col-lg-2">
                <img class="img imgh"  [src]="library" />
               </div>
              <div class="col-lg-10 p-2">
                <b>  Library : </b>   Keep a track on all the books that are issued, fine collection for late return and the details of the books such as author name, edition, price, etc. can be stored in the database.
              </div>
            </div>
        
          </div>
          
      </div>
    </div>
  </section>
  <!-- About Us  Section Ends-->

<div class="row">
  <h1 class="styled-heading">ROLE-BASED ACCESS CONTROL</h1>
  <div class="col-lg-3 p-2 text1">
    <h1 class="styled-heading">Admin Access Control</h1>
    <p class="font-weight-bold">Accessibility: Admin has power to do every this i.e. edit, delete, add etc. in this software.
    Discount/ Penalty: The admin can give a discount or add the penalty amount to any student.
    Account Disable: Admin can disable any student, teacher or non teaching staff .
    Result Published: Admin can publish the result with a single click. After that, all students can access the result from their account.
    Transaction Report: Can see the transaction report on daily monthly and date range basis.
    Account Permission: Admin can create, edit and delete the account of any staff any teacher and can change the role.</p>
  </div>
  <div class="col-lg-4 p-2 text1">
    <h1 class="styled-heading">Teacher Access Control</h1>
   
<ul class="font-weight-bold">
  <li>Live Class:  A teacher can set a live class for a specific period which is visible from student account and will join it just one click.</li>
<li>Study material / Homework: Can upload study materials and also digital videos as reference materials for student which is downloaded from student’s account.</li>
<li>Question Bank: Teacher can store any types of important questions in question bank which will be used for future examinations.</li>
<li>Marks Upload: teacher can upload the marks and report card will be generated automatically.</li>
<li>Lesson Plan: Teacher can submit their daily, weekly lesion plan. Admin can see various types of reports based on this. Class log book and personal log book are also there.</li>
<li>Attendance: Easy to mark attendance from their mobile
</li></ul>
  </div>
  <div class="col-lg-5 p-2 text1">
    <h1 class="styled-heading">Student Access Control</h1>
    <div class="row">
      <div class="col-lg-8"><img class="img imgs"  [src]="stdt" /></div>
      <div class="col-lg-4">
        <ul class="font-weight-bold">
     
          <li>Live Classes , Study Materials Video classes, Homework.</li>
        <li>Student attendance, result and payment details.</li>
        <li>Available student emergency contact records.</li>
        <li>Alumni student can be find out on single click..</li>
        </ul>
      </div>
    </div>        
  </div>
  <hr>
  <div class="col-lg-4 pt-2 text1">
    <h1 class="styled-heading">Parent Access Control</h1>
    <img class="img imgs"  [src]="parentpath" />

<ul class="font-weight-bold">
  
  <li>The Parent is getting access just by getting ID and Password facility.</li>
<li>Parents can access their child’s academic profile and track class performance, attendance, faculty comments, disciplinary actions and extracurricular activities etc.</li>
<li>Examination details like timetables, rescheduling, hall tickets, rules and regulation related to exam and online accessibility of student results.</li>
<li>Teacher / Student / Parent online communication is facilitated.</li>
<li>Online access to circulars, events, schedule changes and urgent messages requiring response</li>
<li>Details of all fees records, its payments, its scheme, receipts, debit note.</li>
<li>Parents can see their child homework details</li>
<li>Holiday details available so parents can plan, schedule regarding vacation.</li>

</ul>
  </div>
  <div class="col-lg-8 pt-2 text1 ">
    <h1 class="styled-heading">Examination Module</h1>
   
<p>Use powerful examination module combined with student exam module that allows not only creating results but also managing results. Each examination can be defined and calculations run in real time giving parents and students more than 6 different analytics including class average, percentage, grade etc. It is also compatible with university boards, school boards, or can be customized on the basis of school or college requirement. Inbuilt Features:</p>

<ul> <li>Create Examinations.</li>
  <li>Create class wise exams/tests</li>
  <li>Hall ticket generation</li>
  <li>Question Paper generation</li>
  <li>Subject wise mark sheets</li>
  <li>Download / Print student wise report card</li>
  <li>Real-time mobile updates on parent’s mobile</li>
  <li>Various report formats</li>
  <li>Suitable for different education boards</li>
  <li>Certificate Generation</li>
  </ul>
  <h1 class="styled-heading">ERP charges/ Per Month</h1>
  <ul> <li> We charge per student per month basis for ERP Services, Maintenance, Modification, and Updates. There is no renewal no hidden charges.</li>
    <li>We integrate the gateway with our ERP and charge a nominal amount for that.</li>
    <li>We are also providing bulk services of above which will be integrated with our ERP System. We charge each SMS, There is no Expiry Date.</li>
    <li>Auto Attendance Device System Price based on device type & Model.</li>
    <li>Budget Friendly :We provide a nominal and Budget-friendly software service. So any school can start it at any time</li>
    
    </ul>
    <h1 class="styled-heading">Full Support</h1>
    <ul> <li>  A 24 X 7 dedicated supportive team is available through phone / email and WhatsApp.</li>
      <li>Customisation : We customize this software according to the needs of the school.</li>
      <li>Workload Reduce : We assure to reduce your workload in school through this software .</li>
      <li> Transparency : We enable a healthy & transparent relationship within Parent, Student and management committee.</li>
      <li>Less Knowledge : Minimum Knowledge in computer require to handle this software.</li>
      
      </ul>
  </div>
 
  
  <div class="col-lg-12 pt-2 text1">
    <h1 class="styled-heading">Accountant Access Control</h1>
    <img class="img imgp"  [src]="acc" />
<p>Accounting module allows you to easily manage the money flowing in and out of the institution. Manage your Fees vouchers, sales invoices, while keeping expenses in check. Record, monitor and reconcile your bank accounts and transactions, and collaborate with your accountant in real-time.</p>
<ul>
  <li>Ledger: Useful to track various internal funds like student activity funds to athletic or faculty funds. Credence offers unlimited number of accounts, sub-accounts with at most performance.</li>
<li>Daybook: Helps to maintain a descriptive and chronological record of day-to-day financial transactions.</li>

<li>Features:</li>
<ul>

 <li>Sales daybook, for recording all the sales invoices</li>
<li>Sales credit daybook for recording all the sales credit notes</li>
<li>Purchase daybook for recording all the purchase invoices</li>
<li>Receipts day book for money received and payment daybook for money paid out.</li>
<li>Daily Collection report: The daily collection report displays all transactions, student’s payments, for the day or date range.</li>
</ul>
</ul>
  </div>
 
  
 
</div>


</div>

