<div class="container-fluid bg-info">
    <div class="row pt-2">
        <div class="col-md-4 col-lg-4">
            <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
                <div class="carousel-inner w-100">
                    <div class="carousel-item active">
                        <div class="card card-body">
                            <img class="img-fluid img" [src]="empower" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card card-body">
                            <img class="img-fluid img" [src]="Credence1" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card card-body">
                            <img class="img-fluid img" [src]="Credence2" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card card-body">
                            <img class="img-fluid img"[src]="Credence3" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card card-body">
                            <img class="img-fluid img" [src]="Credence4" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card card-body">
                            <img class="img-fluid img" [src]="Credence5" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card card-body">
                            <img class="img-fluid img" [src]="Credence6" >
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card card-body">
                            <img class="img-fluid img" [src]="Credence10" >
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-5 col-lg-5">
            <!-- Fact 5 - Bootstrap Brain Component -->
            <section class="bsb-fact-5 ">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                            <h3 class="text-danger text-center text-uppercase mt-2">Our Success</h3>
                            <h4 class=" text-center text-capitalize">We have a proven track record of success.<span style="font-size: 12px;">Our! <small style="color:red">Trusted Parners</small> (1020155)</span></h4>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="container-fluid bg-light border shadow">
                                <div class="row">
                                    <div class="col-12 col-md-4 p-0">
                                        <div class="card border-0 bg-transparent">
                                            <div class="card-body text-center ">
                                                <h6 class=" fw-bold ">  <b class="text-success"> Schools :</b> 150+</h6>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 p-0">
                                        <div class="card border-0 bg-transparent">
                                            <div class="card-body text-center ">
                                                <h6 class=" fw-bold ">  <b class="text-success"> Hospitals :</b> 50+</h6>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 p-0">
                                        <div class="card border-0 bg-transparent">
                                            <div class="card-body text-center ">
                                                <h6 class=" fw-bold ">  <b class="text-success"> Others :</b> 250+</h6>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-12 col-md-4 p-0">
                                        <div class="card border-0 bg-transparent">
                                            <div class="card-body text-center ">
                                                <h6 class=" fw-bold ">  <b class="text-success"> Students :</b> 1000000+</h6>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 p-0">
                                        <div class="card border-0 bg-transparent">
                                            <div class="card-body text-center ">
                                                <h6 class=" fw-bold ">  <b class="text-success"> Teachers :</b> 100000+</h6>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 p-0">
                                        <div class="card border-0 bg-transparent">
                                            <div class="card-body text-center ">
                                                <h6 class=" fw-bold ">  <b class="text-success"> Others :</b> 152222+</h6>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="card">
                <div class="card-body justify-content-center align-items-center" >
                  <div class="me-3 text-primary">
                    <img class="img" [ngStyle]="{'width':iconwidth,'height':iconheight}" [src]="journeypath" /><b><a routerLink="/About-Us">School Mangement Software & App</a></b>
                  </div>
                  <div>
                   
                    <h6 style="text-align: justify;" class="p-1" >From last five year we did hard work and develop very good School ERP Software with cover all segment of school like account, fee, staff salary, exam, and alerts so we are very glad to deploy this application at your campus.</h6>
                    <p class="text-center"><b> We are focused to advancing technology to meet daily tasks with the latest innovations.</b></p>
                  </div>
                </div>
              </div>
              
        </div>


            
              
        </div>





        <div class="container-fluid bg-danger">
            <div class="sticky-icon">
                <a href="https://www.instagram.com/abhigyan_0304/" class="Instagram"><i class="fab fa-instagram"></i> Instagram </a>
                <a href="https://www.facebook.com/" class="Facebook"><i class="fab fa-facebook-f"> </i> Facebook </a>
                <a href="https://aboutme.google.com/u/0/?referer=gplus" class="Google"><i class="fab fa-google-plus-g"> </i> Google + </a>
                <a href="https://www.youtube.com/" class="Youtube"><i class="fab fa-youtube"></i> Youtube </a>
                <a href="https://twitter.com/login" class="Twitter"><i class="fab fa-twitter"> </i> Twitter </a>   
             </div>
        </div>

    </div>